@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    /* Font */
    --font-notoSans: "Noto Sans", sans-serif;

    /* Font-weight */
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;

    /* Neutral */
    --color-Neutral-900: hsl(227, 75%, 14%);
    --color-Neutral-800: hsl(226, 25%, 17%);
    --color-Neutral-700: hsl(225, 23%, 24%);
    --color-Neutral-600: hsl(226, 11%, 37%);
    --color-Neutral-300: hsl(0, 0%, 78%);
    --color-Neutral-200: hsl(217, 61%, 90%);
    --color-Neutral-100: hsl(0, 0%, 93%);
    --color-Neutral-0: hsl(200, 60%, 99%);

    /* Red */
    --color-Red-400: hsl(3, 86%, 64%);
    --color-Red-500: hsl(3, 71%, 56%);
    --color-Red-700: hsl(3, 77%, 44%);

    /* Gradient */
    --color-Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --color-Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}